<a href="https://colab.research.google.com/github/caroline-cdz/Python-para-Analise-de-Dados/blob/main/Python_Tratamento_de_Erros.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1.tratamento de erros de sintaxe

In [ ]:
#credito = {'123': 750, '456': 812, '789': 980}

#for chave, valor in credito.items():
#  print(f'Para o documento {chave}, o valor do escore de crédito é {valor}.")

#SyntaxError: unterminated string literal (detected at line 4) (ERRO DA DUPLA ASPAS NO FINAL DO PRINT)

credito = {'123': 750, '456': 812, '789': 980}

for chave, valor in credito.items():
  print(f'Para o documento {chave}, o valor do escore de crédito é {valor}.') #CORRIGIDO

Para o documento 123, o valor do escore de crédito é 750.
Para o documento 456, o valor do escore de crédito é 812.
Para o documento 789, o valor do escore de crédito é 980.

In [ ]:
#def pi() --> float:
#  return 3.14159265359

#pi = pi()
#print(pi)

#SyntaxError: expected ':' line 1 (ERRO NA SETA -->)

def pi() -> float: #CORRIGIDO
  return 3.14159265359

pi = pi()
print(pi)

3.14159265359

In [ ]:
#emails = ['andre.perez@gmail.com', 'andre.perez@live.com', 'andre.perez@yahoo.com']
#provedor_da_google = lambda email: 'gmail in email

#emails_google = filter(provedor_da_google, emails)
#print(list(emails_google))

#SyntaxError: unterminated string literal (detected at line 2) (FALTOU ASPA NO gmail ')

emails = ['andre.perez@gmail.com', 'andre.perez@live.com', 'andre.perez@yahoo.com']
provedor_da_google = lambda email: 'gmail' in email #CORRIGIDO

emails_google = filter(provedor_da_google, emails)
print(list(emails_google))

['andre.perez@gmail.com']

In [ ]:
#class Pessoa(object):

#  def __init__(self nome: str, idade: int, documento: str):
#    self.nome = nome
#    self.idade = idade
#    self.documento = documento

#andre = Pessoa(nome="Andre", idade=30, document="123") (2 ERRO: FALTA 'O' EM 'document')

#SyntaxError: invalid syntax line 3 (FALTOU VIRGULA EM SELF,)

class Pessoa(object):

  def __init__(self, nome: str, idade: int, documento: str): #CORRIGIDO
    self.nome = nome
    self.idade = idade
    self.documento = documento

andre = Pessoa(nome="Andre", idade=30, documento="123") #CORRIGIDO

In [ ]:
#2.erro em tempo de execucao

In [ ]:
%%writefile credito.csv
id_vendedor,valor_emprestimos,quantidade_emprestimos,data
104271,448.0,1,20161208
21476,826.7,3,20161208
87440,313.6,3,20161208
15980,808.0,6,20161208
215906,2212.0,5,20161208
33696,2771.3,2,20161208
33893,2240.0,3,20161208
214946,"4151.0",18,20161208
123974,2021.95,2,20161208
225870,4039.0,2,20161208

Writing credito.csv

In [ ]:
#CORRIGIDO
def valor_total_emprestimo(valor: float, quantidade: int) -> float:
  return valor * quantidade

emprestimos = []

with open(file='./credito.csv', mode='r', encoding='utf8') as fp:
  fp.readline() # cabeçalho
  linha = fp.readline()
  while linha:
    try:
      linha_emprestimo = {}
      linha_elementos = linha.strip().split(sep=',')
      linha_emprestimo['id_vendedor'] = linha_elementos[0]
      linha_emprestimo['valor_emprestimos'] = float(linha_elementos[1])
      linha_emprestimo['quantidade_emprestimos'] = int(linha_elementos[2])
      linha_emprestimo['data'] = linha_elementos[3]
      emprestimos.append(linha_emprestimo)
      linha = fp.readline()
    except ValueError:
      linha = linha.replace('"','')
    except Exception as exc:
      print(exc)

emprestimos_total = []
for emprestimo in emprestimos:
  valor_total = valor_total_emprestimo(valor=emprestimo['valor_emprestimos'], quantidade=emprestimo['quantidade_emprestimos'])
  emprestimos_total.append({emprestimo['id_vendedor']: valor_total})

for emprestimo_total in emprestimos_total:
  print(emprestimo_total)

{'104271': 448.0}
{'21476': 2480.1000000000004}
{'87440': 940.8000000000001}
{'15980': 4848.0}
{'215906': 11060.0}
{'33696': 5542.6}
{'33893': 6720.0}
{'214946': 74718.0}
{'123974': 4043.9}
{'225870': 8078.0}